<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="content-Language" contect="zh-CN">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>基准应用</title>
    <link rel="stylesheet" type="text/css" href="../cp-public/css/sm.css">
    <link rel="stylesheet" type="text/css" href="../cp-public/css/common.css">
</head>
<body>
    <script type="text/javascript" src="../cp-public/js/base/vendor.js"></script>
    <script type="text/javascript" src="../cp-public/js/base/ktc.js"></script>
    <script type="text/javascript" src="../cp-public/js/base/loader.js"></script>
    <script type="text/javascript" src="../cp-public/js/base/common.js"></script>
    <script type="text/javascript">
        var page = null;
        seajs.config({
            charset : 'utf-8',
            timeout : 20000,
            debug : true,
            base : '../cp-public',
            paths: {
                'nat': 'js/native',
                'wt': 'js/widget'
            }
        }).use('./config.js');
    </script>
    <div class="page-group">
        <div class="page page-current">
            <div id="app">
                <div v-if="Loading.loading">
                    <div class="preloader-indicator-overlay"></div>
                    <div class="preloader-indicator-modal">
                        <span class="preloader preloader-white"></span>
                    </div>
                </div>
                <header class="bar bar-nav bar-header" id="ktc_temp_header">
                    <h1 class="title"></h1>
                </header>
                <router-view keep-alive></router-view>
            </div>
        </div>
    </div>
</body>
</html>