.list-block{
    margin: 0;
}
.list-block .list-title{
    color: #333;
    font-size: 15px;
}
.list-block .list-content{
    color: #777;
    font-size: 13px;
}
.list-block .item-content {
    width: 100%;
}
.list-block .list-order{
    color: #777;
    font-size: 10px;
}
.list-block ul li.empty-list {
    height: 300px;
    text-align: center;
    color: #9c9a8f;
    background-color: #eee;
    padding: 100px 0;
}
.list-block ul li.empty-list:before {
    display: inline-block;
    content: "";
    font-size: 2.6em;
    width: 2.6em;
    height: 2.6em;
    background: url(../../images/empty.png) no-repeat;
    background-size: 2.6em;
}