/*panel栅栏表*/
.no-gutter-table{
    text-align: center;
    border-left: 1px solid #ddd;
}
.no-gutter-table>div{
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.col-tit{
    background-color: #18D2F3;
    color: #fff;
    font-size: 0.7rem;
    line-height: 1.4rem;
}
.col-con{
    line-height: 1.6rem;
}