.list-group-block{
    margin: 0;
}
.content-block-title{
    padding: 0.5rem 0.5rem 0.3rem;
    margin: 0;
    border-bottom: 1px solid #e7e7e7;
}
.list-group-block .new-line{
    display: inline-block;
}
.list-group-block .new-line .item-title{
    line-height: 30px;
}
.list-group-blockk .new-line .item-after{
    display: block;
    margin-left: 0;
    white-space: initial;
}
.list-group-block .new-line .item-after-group{
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
.list-group-block .new-line .item-after-group span{
    padding: 6px 10px;
    margin-right: 10px;
    min-width: 75px;
    border: 1px solid #ccc;
    border-radius: 16px;
    font-size: 0.6rem;
}
.list-group-block .item-title{
    font-size: 0.7rem;
}
.list-group-block .item-after{
    display: block;
    width: 70%;
    white-space: initial;
    max-height: initial;
    text-align: right;
    font-size: 0.6rem;
}
.list-group-block .item-inner{
    padding-top: 0.4rem;
}

/*标题绝对对齐item-content-align，相对对齐item-content-notalign*/
.list-group-block .item-content-align .item-title{
    top: 12px;
    position: absolute;
}
.list-group-block .item-content-align .item-after{
    display: block;
    width: 70%;
    margin-left: 30%;
    white-space: initial;
    max-height: initial;
    line-height: 21px;
    text-align: right;
}
.list-group-block .item-content-align .item-media-icon{
    position: absolute;
    top: 0.2rem;
    left: 0.5rem;
}

/*标题绝对对齐item-content-align，相对对齐item-content-notalign*/
.list-group-block .item-content-notalign{
     padding-left: 0.5rem;
}
.list-group-block .item-content-notalign .item-inner{
    margin-left: 0.3rem;
}
.list-group-block .item-content-notalign .item-media{
    padding-top: 0.45rem;
}