.list-block{
    margin: 0;
}
.list-block .list-title{
    color: #333;
    font-size: 15px;
}
.list-block .list-content{
    color: #777;
    font-size: 13px;
}
.list-block .list-order{
    color: #777;
    font-size: 10px;
}
.list-block ul li.empty-list {
    height: 300px;
    text-align: center;
    color: #9c9a8f;
    background-color: #efeff4;
    padding: 100px 0;
}
.list-block ul li.empty-list:before {
    display: inline-block;
    content: "";
    font-size: 2.6em;
    width: 2.6em;
    height: 2.6em;
    background: url(../../images/empty.png) no-repeat;
    background-size: 2.6em;
}

/*滑动列表*/
.list-block li {
    overflow: hidden;
}
.list-block .item-container {
    display: flex;
}
.list-block .item-operation {
    display: flex;
    text-align: center;
    background-color: white;
    color: #fff;
}
.list-block .item-operation .item-buttons {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.list-block .item-operation .item-buttons.red {
    background-color: red;
    color: #fff;
}
.list-block .item-operation .item-buttons.gray {
    background-color: grey;
    color: #fff;
}

.swap-container .item-content {
    min-width: 100%;
}
.item-operation div {
    width: 100%;
}

.list-block .item-inner{
    padding: .4rem .55rem .35rem .55rem;
}